* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    justify-content: center;
    font-family: 'Tilt Warp', cursive;
    font-size: 2vw;
    font-weight: bold;
    background-color: rgba(235, 235, 235, 0.666);
}

.container {
    width: 50%;
    margin: 0 auto;
}

.bayan-title {
    margin: 2%;
    text-transform: uppercase;
}

/*ACCORDION*/
.accordion-item {
    height: 100%;
    margin-bottom: 0.5%;
}

.accordion-input {
    display: none;
}

.accordion-item__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5%;
    border-top: 0.1rem solid rgb(137, 136, 138);
}

.accordion-item__head {
    margin: 0;
    color: blue;
    font-size: 2.3vw;
}

.accordion-item__icon {
    width: 1.3em;
    height: 1.3em;
    display: none;
}

.accordion-item__content {
    max-height: 0;
    overflow: hidden;
    margin: 1%;
    border-top: none;
}

.accordion-item__img {
    display: block;
    margin: 0 auto;
    width: 50%;
    transition: transform .2s;
}

/*EFFECTS*/
.accordion-item__content:active {
    opacity: 0.7;
    cursor: pointer;
    transition: 0.3s;
}

@media (hover:hover) and (pointer:fine) {

    .accordion:hover .accordion-item__icon {
        display: block;
    }

    .accordion-item__img:hover {
        transform: scale(105%);
        transition: 0.3s;
    }

    .accordion:hover .accordion-item__trigger .accordion-item__title .accordion-item__head {
        color: black;
    }

    .accordion-input:hover~.accordion-item__content {
        max-height: 100vh;
        cursor: pointer;
        transition: 1s;
    }

    .accordion-item__trigger:hover .accordion-item__title .accordion-item__icon {
        transform: rotate(45deg);
        transition: 0.3s;
    }
}

/*FUNCTIONALITY*/
.accordion-input:checked~.accordion-item__trigger .accordion-item__title .accordion-item__trigger .accordion-item__icon {
    transform: rotate(45deg);
    transition: 0.3s;
}

.accordion-input:checked~.accordion-item__title .accordion-item__head {
    color: black;
    transition: 0.3s;
}

.accordion-input:checked~.accordion-item__content {
    max-height: 100vh;
    cursor: pointer;
    transition: 1s;
}

/* RESPONSIVE */
@media screen and (max-width:1180px) {
    body {
        font-size: 2.5vw;
    }

    .container {
        max-width: 75%;
    }

    .bayan-title {
        font-size: 95%;
    }

    .accordion-item__img {
        max-width: 90%;
    }
}

@media screen and (max-width:320px) {
    body {
        font-size: 4vw;
    }

    .container {
        max-width: 50%;
    }

    .bayan-title {
        font-size: 85%;
    }

    .accordion-item__img {
        max-width: 100%;
    }
}