* {
    box-sizing: border-box;
}

body{
    font-family: 'Tilt Warp', cursive;

}

.container {
    max-width: 50%;
    margin: 0 auto;
}

.bayan-title {
    text-transform: uppercase;
    font-weight: bold;
}

/*.accordion {}*/
.accordion-item {
    position: relative;
    margin-bottom: 2%;
}

.accordion-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.accordion-item__trigger {
    display: block;
    padding: 0.5%;
    border-top: 0.1rem solid rgb(137, 136, 138);
    font-size: 2vw;
    font-weight: bold;

}
.accordion-item__trigger:hover{
    color: rgb(231, 231, 2);
    cursor: pointer;
}
.accordion-item__content {
    display: none;
    padding: 1%;
    border-top: none;
}
.accordion-item__img{
    display: block;
    margin: 0 auto;
    width: 50%;
    transition: transform .2s;
}

/*.accordion-input:checked~.accordion-item__trigger {}*/

.accordion-input:checked~.accordion-item__content {
    display: block;
    cursor: pointer;
}
.accordion-item__img:hover{
    transform: scale(105%);
}